.items
  .list
    %a.item{:href => "#"}
      .job_icon
        %img{:alt => "", :src => "http://shop.football.kharkov.ua/files/products/206_0.95x95.jpg?b72265546ac07e15453883ae228e01fb"}/
      .meta
        %span.city Харьков
        .published 1 день назад
      .price
        250 грн
      .position
        .title Мяч для футзала Mimas
        %span.badge новый
    %a.item{:href => "#"}
      .job_icon
        %img{:alt => "", :src => "http://shop.football.kharkov.ua/files/products/206_0.95x95.jpg?b72265546ac07e15453883ae228e01fb"}/
      .meta
        %span.city Харьков
        .published 1 день назад
      .price
        250 грн
      .position
        .title Мяч для футзала Mimas
        %span.badge новый
