%p
  Добро пожаловать, #{@resource.email}!
%p Вы можете подтвердить свой email перейдя по следующей ссылке:
%p= link_to 'Подтвердить учетную запись', user_confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
