%p
  Привет, #{@resource.email}!
%p Кто-то запросил ссылке на изменение вашего пароля, если это были вы - воспользуйтесь ссылкой ниже.
%p= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если вы здесь ни при чем - просто проигнорируйте это письмо.
%p Ваш пароль не будет изменен до тех пор, пока вы не перейдете по указанной ссылке и не создадите новый.
